*.o
*.o.d
*.dmp
*.list
*.elf
*.bin
*.hex
*.map
*.lst
.*.un~
.*.swp
*.gch
*.pdf

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

build/
dev/build/
cmake-build-debug/
cmake-build-default/
.idea/
*.DS_Store
MDK-ARM/RMv3testDemo
